[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/cemysf/hugo-video
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/cemysf/hugo-PaperMod.git
